doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css.map')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css.map')
    link(rel='staylsheet', href='/stylesheets/material.min.css')
    script(src='https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js')
    link(rel='staylsheet', href='/staylsheets/material.min.js')
  body
    block content
